#
# General ignores
#

*.lock
*~
*.obj
*.tlog
*.pdb
*.idb
*.ipch
*.pch
*.ilk
*.manifest
*.ncb
*.opt
*.sdf
*.suo
*.plg
*.old
*.user
*.log
*.lastbuildstate
*.unsuccessfulbuild
*.dep
*.vssscc
*.vspscc
*.SCC
*.opensdf
*.vc.db
*.vc.opendb
Debug/
debug/
Release/
release/
_UpgradeReport_Files/
UpgradeLog*.XML
log.txt
